body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  background: url('./assets/pokemon-all-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #f0f0f0; 
  /*-webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
  filter: grayscale(100%);*/
}

.subheader {
  font-size: 20px;
}

.header-logo {
  color: #222224;
}

.top {
  background: mediumpurple;
}

.header {
  background: grey;
}

.view-container {
  background: #f0f0f0;
}

.pokemon-red {
  color: #f00000;
}

.pokemon-boston-red {
  color: #cc0000;
}

.pokemon-blue {
  color: #3B4CCA;
}

.pokemon-yellow {
  color: #ffde00;
}

.pokemon-citron {
  color: #b3a125;
}